<template>
  <section class="form-box">
    <h1>Add form</h1>
    <input type="text" v-model="title" placeholder="Enter a title">
    <button>Add Task</button>
  </section>
</template>
<script>
export default {
  name:'FormBox',
  data(){
    return{
      title: ''
    }
  },
  computed:{},
  watch:{},
  created:{},
  methods:{}
}
</script>
<style></style>