<template>
  <div class="movie-card">
    <img :src="movie.medium_cover_image" alt="">
    <div class="movie-title" @click="$router.push('/movie/'+movie.id)">{{ movie.title }}</div>
  </div>
</template>
<script>
export default {
  name:'MovieCard',
  props: {
    movie:{
      type:Object,
      required:false,
      default:()=>{}
    }
  }
}
</script>

<style lang="scss">
.movie-card{
  height:300px;
  width:200px;
  padding:8px;
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.12);
  border:1px solid rgba(0,0,0,0.12);
  box-sizing: border-box;
  margin:8px;
  img{
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    height:200px;
    width: 100%;
  }
  .movie-title{
    margin-top:8px;
    font-size:1.2rem;
  }
}
</style>