<template>
  <section class="services">
    this is tasks box
  </section>
</template>
<script>
export default {
  name:'TasksBox',
  data(){
    return{}
  },
  computed:{},
  watch:{},
  created:{},
  methods:{}
}
</script>
<style></style>