<template>
  <section>
    <h1>Explore Movies</h1>
    <div  class="home"><MovieCard v-for="(movie,key) of moviesList" :movie="movie" :key="key"/>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import MovieCard from "@/containers/MovieCard";
import SuggestedMovies from "@/views/SuggestedMovies";
// @ is an alias to /src
export default {
  name: 'Home',
  components: {
    SuggestedMovies,
    MovieCard
  },
  data(){
    return{
      title: '',
      moviesList:[]
    }
  },
  computed:{},
  watch:{

  },
  async created(){
    await this.loadMovies();
  },
  methods:{
    loadMovies(){
      axios.get('https://yts.mx/api/v2/list_movies.json')
          .then(res=> {
            this.moviesList= res.data.data.movies;
          }, err=>{
            console.log(err)
          });
    }
  }
}
</script>
<style lang="scss">
.home{
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  height:100vh;
  width:100%;
  .form-box,.tasks-box{
    width:50%;
    height:100%;
  }
}
</style>