<template>
  <div class="movie-detail">
   <h1>  {{ movie.title }}</h1>
    <img :src="movie.background_image" alt="">
    <p>{{movie.description_full}}</p>
    <a :href="movie.torrents[0].url">Click to download</a>
    <Comments/>
    <SuggestedMovies/>
  </div>
</template>
<script>
import axios from "axios";
import SuggestedMovies from "@/views/SuggestedMovies";
import Comments from "@/views/Comments";

export default {
  name:'MovieDetail',
  components: {Comments, SuggestedMovies},
  data(){
    return{
      movie:{}
    }
  },
  computed:{},
  watch:{

  },
  async created(){
    await this.loadMovies();
  },
  methods:{
    loadMovies(){
      axios.get('https://yts.mx/api/v2/movie_details.json?movie_id='+ this.$route.params.id)
          .then(res=> {
            this.movie= res.data.data.movie;
          }, err=>{
            console.log(err)
          });
    }
  }
}
//search,html
//vuex
//project structure
</script>