<template>
  <nav>
    <div class="logo">Logo</div>
    <div class="nav-items">
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
    </div>
  </nav>
</template>
<script>
export default {
  name:'Nav'
}
</script>
<style lang="scss">
nav{
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2.5vw;
  box-sizing: border-box;
  .nav-items{
    display: flex;
    width:400px;
    justify-content: space-between;
    align-items: center;
  }
}
</style>